{% extends 'base.html' %}
{% block title%} Show Tasks {% endblock %}
{% block content %}
<div style="text-align: center;">
    <h3 style="margin-top: 3%;">Tasks</h3>
    <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Status</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
            {% for task in data %}
                {% if task.is_completed == False %}
                <tr>
                    <td>{{ task.taskTitle }}</td>
                    <td>{{task.taskDescription}}</td>
                    <td>Incomplete</td>
                    <td>
                        <a href="{% url 'delete-tasks' id=task.id %}"  class="btn btn-danger btn-sm">Delete</a>
                        <a href="{% url 'edit-tasks' id=task.id %}" class="btn btn-primary btn-sm">Edit</a>
                        <a href="{% url 'complete-tasks' id=task.id %}" class="btn btn-success btn-sm">Complete</a>
                    </td>
                </tr>
                {% endif %}  
            {% endfor %}
        </tbody>
      </table>
</div>
{% endblock %}